*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
  }
  
  
  
  body{
     max-width: 1900px;
    margin: 0 auto; 
   
  }
  
   nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #000000;
    color: aliceblue;
  } 
  .btn-iniciar{
    text-decoration: none;
    color: aliceblue;
    margin: 12px;
  }
  .naaav{ color: aliceblue;}
  
